<h1>Contact: <%= @contact.first_name %> <%= @contact.last_name %></h1><br/>

  <h3>Email: <%= @contact.email %></h3>
  <h3>Phone Number: <%= @contact.phone_number %></h3>
  <a href="/contacts"> Go to Contact list</a>
